<ul id="carouselMovies">
 <li ng-repeat="slide in slides">
 	<a ng-href='/#/moviePlayer' ng-click="send(slide)">
   <img  src="{{slide.image}}"/>  
    </a>
    <p class="title-movie">{{slide.title}}</p>
  </li>                                               
</ul> 


<script type="text/javascript">
$("#carouselMovies").flexisel({
        visibleItems: 4,
        itemsToScroll: 1,         
        autoPlay: {
            enable: true,
            interval: 5000,
            pauseOnHover: true
        },
        responsiveBreakpoints: { 
          portrait: { 
            changePoint:480,
            visibleItems: 1,
            itemsToScroll: 1
          }, 
          landscape: { 
            changePoint:640,
            visibleItems: 2,
            itemsToScroll: 2
          },
          tablet: { 
            changePoint:768,
            visibleItems: 3,
            itemsToScroll: 3
          },
          mobile: {
              changePoint:768,
              visibleItems: 1,
              itemsToScroll: 1
            }
        }
    });  
  
</script>

